@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --sedan: hsl(31, 77%, 52%);
    --suv: hsl(184, 100%, 22%);
    --luxury: hsl(179, 100%, 13%);
    --paragraph: hsla(0, 0%, 100%, 0.75);
    --neutral: hsl(0, 0%, 95%);
}

*, *::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    font-size: 15px;
    
}

body {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    min-height: 100vh;
    
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 320px));
    justify-content: center;
    align-items: center;
    height: 100vh;
}

       /***************************************/

.vehicles {
    border: 1px solid transparent;
    height: 500px;
    padding: 2rem;
    color: var(--paragraph);
}

.vehicles h2 {
    color: var(--neutral);
}

.vehicles:nth-of-type(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.vehicles:nth-of-type(3) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sedan {
    background-color: var(--sedan);
}

.suv {
    background-color: var(--suv);
}

.luxury {
    background-color: var(--luxury);
}

        /**********************************/

/* Components */

.btn {
    position: relative;
    top: 6rem;
    left: 1rem;
    padding: 8px;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: transparent;
    font-size: 1em;

    display: ;
}

.btn:hover {
    background-color:  transparent;
    cursor: pointer;
    border: 2px solid var(--neutral);
}
.sedan 
 .btn:hover, 
 .suv .btn:hover,
 .luxury .btn:hover {
    color: var(--paragraph);
}

.sedan .btn {
    color: var(--sedan);
}

.suv .btn {
    color: var(--suv);
}

.luxury .btn {
    color: var(--luxury);
}

    /**************/

/* CONTENT */

.icon, 
.heading, 
.description {
    position: relative;
    top: 20px;
    left: 15px;
}


.heading {
    font-family: 'Big Shoulders Display', sans-serif ;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.description {
    line-height: 1.8;
    max-width: 225px;
    letter-spacing: 0.5px;
}

.icon {
    padding-bottom: 30px;
}


/***********/
/** MEDIA QUERIES **/

@media only screen and (max-width: 960px) {
    footer .attribution {
        display: none;
    }
}

@media only screen and (max-width: 625px) {
    .vehicles:nth-of-type(1) {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
    }


    .vehicles:nth-of-type(3) {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0;
    }
}